@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6pcvtv');
  src:  url('../fonts/icomoon.eot?6pcvtv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6pcvtv') format('truetype'),
    url('../fonts/icomoon.woff?6pcvtv') format('woff'),
    url('../fonts/icomoon.svg?6pcvtv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* [class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.icon-circle-o:before {
  content: "\e900";
  color: #9FA0B3;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
